.container-fluid
	.row
		.col-sm-6.picture.picture1
			p Picture 1
		.col-sm-6
			.row
				.col-sm-12.picture.picture2
					p Picture 2
			.row
				.col-sm-6.picture.picture3
					p Picture 3
				.col-sm-6.picture.picture4
					p Picture 4